{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content design">
    <section id="design-1" class="menu-light bg-dark scroll-section">
	<div class="inner">
	    <div class="container">
		<h1 class="section-heading sm">Unsere 2D-Animationen vermitteln ein lebendiges Erscheinungsbild und erhöhen dadurch das Interesse an Ihrem Website-Content.</h1>
		<div class="animationen">
                    <div class="left-title">
                        <h2>Animationen</h2>
                    </div>
                    <div class="videos-wrp">
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="/media/animation/artificel-intelegent-poster.jpg" src="/media/animation/artificel-intelegent.mp4" loop muted preload></video>
			    </div>
			</div>
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="/media/animation/film-girlfriend-ocean-poster.jpg" src="/media/animation/film-girlfriend-ocean.mp4" loop muted preload></video>
			    </div>
			</div>
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="/media/animation/knr-poster.jpg" src="/media/animation/knr.mp4" loop muted preload></video>
			    </div>
			</div>
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="/media/animation/rock-concert-poster.jpg" src="/media/animation/rock-concert.mp4" loop muted preload></video>
			    </div>
			</div>
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="/media/animation/trump-poster.jpg" src="/media/animation/trump.mp4" loop muted preload></video>
			    </div>
			</div>
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="/media/animation/santa-fight-poster.jpg" src="/media/animation/santa-fight.mp4" loop muted preload></video>
			    </div>
			</div>
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="/media/animation/rock-concert-poster.jpg" src="/media/animation/rock-concert.mp4" loop muted preload></video>
			    </div>
			</div>
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="/media/animation/knr-poster.jpg" src="/media/animation/knr.mp4" loop muted preload></video>
			    </div>
			</div>
                    </div>
                </div>
	    </div>
	</div>
    </section>
    <section id="design-2" class="menu-light bg-dark scroll-section">
	<div class="inner">
	    <div class="container">
		<h2 class="section-heading sm">Die Infografiken von Modul Media sind anspruchsvoll konzipiert und werten jeden Inhalt substanziell auf, da sie auch komplexe Informationen mit einem Blick transparent vermitteln können.</h2>
		<div class="content">

		</div>
	    </div>
	</div>
    </section>
    <section id="design-3" class="menu-light bg-dark scroll-section">
	<div class="inner">
	    <div class="container">
		<h2 class="section-heading sm">Unsere Infokarten sind übersichtlich, informativ und topaktuell, so bekommen Ihre Leser jederzeit die Lokation der zugrundeliegenden Nachricht in einem attraktiven Format und mit aufschlussreichen Informationen präsentiert.</h2>
		<div class="content">

		</div>
	    </div>
	</div>
    </section>
</div>
{% include "layouts/footer.html" %}
{% endblock %}
