{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content design">
    <section id="design-1" class="menu-light bg-dark scroll-section">
	<div class="inner">
	    <div class="container">
		<div class="circles">
		    <div class="design__intro-circle-grey"></div>
                    <div class="design__intro-circle-grey-small"></div>
                    <div class="design__intro-circle-grey-small-left"></div>
                    <div class="design__intro-circle-grey-small-right"></div>
                    <div class="design__intro-circle"></div>
                    <div class="design__intro-circle-small"></div>
                    <div class="design__intro-circle-extra-small"></div>
                    <div class="design__intro-circle-extra-small-top"></div>
		</div>
		<div class="animation">
		    <h1 class="section-heading sm">Unsere 2D-Animationen vermitteln ein lebendiges Erscheinungsbild und erhöhen dadurch das Interesse an Ihrem Website-Content.</h1>
		</div>
		<div class="animationen offset">
                    <div class="left-title">
                        <h2>Animationen</h2>
                    </div>
                    <div class="videos-wrp">
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="media/animation/artificel-intelegent-poster.jpg" src="media/animation/artificel-intelegent.mp4" loop muted preload></video>
			    </div>
			</div>
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="media/animation/film-girlfriend-ocean-poster.jpg" src="media/animation/film-girlfriend-ocean.mp4" loop muted preload></video>
			    </div>
			</div>
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="media/animation/knr-poster.jpg" src="media/animation/knr.mp4" loop muted preload></video>
			    </div>
			</div>
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="media/animation/rock-concert-poster.jpg" src="media/animation/rock-concert.mp4" loop muted preload></video>
			    </div>
			</div>
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="media/animation/trump-poster.jpg" src="media/animation/trump.mp4" loop muted preload></video>
			    </div>
			</div>
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="media/animation/santa-fight-poster.jpg" src="media/animation/santa-fight.mp4" loop muted preload></video>
			    </div>
			</div>
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="media/animation/rock-concert-poster.jpg" src="media/animation/rock-concert.mp4" loop muted preload></video>
			    </div>
			</div>
			<div class="animationen-video">
			    <div class="video-wrp">
				<div class="progress"><div class="line"></div></div>
				<video poster="media/animation/knr-poster.jpg" src="media/animation/knr.mp4" loop muted preload></video>
			    </div>
			</div>
                    </div>
                </div>
	    </div>
	</div>
    </section>
    <section id="design-2" class="menu-light bg-dark scroll-section">
	<div class="inner">
	    <div class="container">
		<div class="circles">
		    <div class="design__intro-circle-grey"></div>
                    <div class="design__intro-circle-grey-small"></div>
                    <div class="design__intro-circle-grey-small-left"></div>
                    <div class="design__intro-circle-grey-small-right"></div>
                    <div class="design__intro-circle"></div>
                    <div class="design__intro-circle-small"></div>
                    <div class="design__intro-circle-extra-small"></div>
                    <div class="design__intro-circle-extra-small-top"></div>
		</div>
		<div class="animation">
		    <h2 class="section-heading sm">Die Infografiken von Modul Media sind anspruchsvoll konzipiert und werten jeden Inhalt substanziell auf, da sie auch komplexe Informationen mit einem Blick transparent vermitteln können.</h2>
		</div>
		<div class="infografiken offset">
                    <div class="left-title">
                        <h2>Infografiken</h2>
                    </div>
                    <div class="images-wrp">
			<div class="img-wrp">
			    <a href="media/infographic/about-us-modulmedia.png" data-fancybox="infografiken" data-caption="About us modulmedia">
				<img src="media/infographic/about-us-modulmedia.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/infographic/replace-inf1.png" data-fancybox="infografiken" data-caption="About us modulmedia">
				<img src="media/infographic/replace-inf1.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/infographic/replace-inf11.png" data-fancybox="infografiken" data-caption="About us modulmedia">
				<img src="media/infographic/replace-inf11.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/infographic/replace-inf2.png" data-fancybox="infografiken" data-caption="About us modulmedia">
				<img src="media/infographic/replace-inf2.jpg" alt="about us modulmedia">
			    </a>
			</div>
		    </div>
		    <div class="images-wrp">
			<div class="img-wrp">
			    <a href="media/infographic/replace-inf3.png" data-fancybox="infografiken" data-caption="About us modulmedia">
				<img src="media/infographic/replace-inf3.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/infographic/replace-inf6.png" data-fancybox="infografiken" data-caption="About us modulmedia">
				<img src="media/infographic/replace-inf6.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/infographic/replace-inf7.png" data-fancybox="infografiken" data-caption="About us modulmedia">
				<img src="media/infographic/replace-inf7.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/infographic/Top-10-football-clubs-eng-RED.png" data-fancybox="infografiken" data-caption="About us modulmedia">
				<img src="media/infographic/Top-10-football-clubs-eng-RED.jpg" alt="about us modulmedia">
			    </a>
			</div>
		    </div>
                </div>
	    </div>
	</div>
    </section>
    <section id="design-3" class="menu-light bg-dark scroll-section">
	<div class="inner">
	    <div class="container">
		<div class="circles">
		    <div class="design__intro-circle-grey"></div>
                    <div class="design__intro-circle-grey-small"></div>
                    <div class="design__intro-circle-grey-small-left"></div>
                    <div class="design__intro-circle-grey-small-right"></div>
                    <div class="design__intro-circle"></div>
                    <div class="design__intro-circle-small"></div>
                    <div class="design__intro-circle-extra-small"></div>
                    <div class="design__intro-circle-extra-small-top"></div>
		</div>
		<div class="animation">
		    <h2 class="section-heading sm">Unsere Infokarten sind übersichtlich, informativ und topaktuell, so bekommen Ihre Leser jederzeit die Lokation der zugrundeliegenden Nachricht in einem attraktiven Format und mit aufschlussreichen Informationen präsentiert.</h2>
		</div>
		<div class="infokarten offset">
                    <div class="left-title">
                        <h2>Infokarten</h2>
                    </div>
                    <div class="images-wrp">
			<div class="img-wrp">
			    <a href="media/infokarten/korea-north-and-south-eng-red.png" data-fancybox="infokarten" data-caption="About us modulmedia">
				<img src="media/infokarten/korea-north-and-south-eng-red.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/infokarten/replace-inf10.png" data-fancybox="infokarten" data-caption="About us modulmedia">
				<img src="media/infokarten/replace-inf10.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/infokarten/replace-inf5.png" data-fancybox="infokarten" data-caption="About us modulmedia">
				<img src="media/infokarten/replace-inf5.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/infokarten/replace-inf8.png" data-fancybox="infokarten" data-caption="About us modulmedia">
				<img src="media/infokarten/replace-inf8.jpg" alt="about us modulmedia">
			    </a>
			</div>
		    </div>
		    <div class="images-wrp">
			<div class="img-wrp">
			    <a href="media/infokarten/replace-inf8.png" data-fancybox="infokarten" data-caption="About us modulmedia">
				<img src="media/infokarten/replace-inf8.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/infokarten/replace-inf9.png" data-fancybox="infokarten" data-caption="About us modulmedia">
				<img src="media/infokarten/replace-inf9.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/infokarten/korea-north-and-south-eng-red.png" data-fancybox="infokarten" data-caption="About us modulmedia">
				<img src="media/infokarten/korea-north-and-south-eng-red.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/infokarten/replace-inf10.png" data-fancybox="infokarten" data-caption="About us modulmedia">
				<img src="media/infokarten/replace-inf10.jpg" alt="about us modulmedia">
			    </a>
			</div>
		    </div>
                </div>
	    </div>
	</div>
    </section>
</div>
{% include "layouts/footer.html" %}
<script src="/javascripts/animations/design-animations.js"></script>
<script src="/javascripts/animations/events.js"></script>
{% endblock %}
