{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content home">
    <section id="home-1" class="menu-light bg-red scroll-section" data-headerbg="red">
	<div class="inner">
	    <div class="container">
		<div class="row">
		    <div class="col-1-2">
			<div class="circles">
			    <div class="circle main__intro-circle-grey"></div>
			    <div class="circle main__intro-circle-grey-small"></div>
			    <div class="circle main__intro-circle"></div>
			    <div class="circle main__intro-circle-small"></div>
			    <div class="circle main__intro-circle-extra-small"></div>
			    <div class="circle main__intro-circle-extra-small-top"></div>
			</div>
			<div class="animation">
			    <h1 class="section-heading lg">ModulMedia</h1>
			</div>
			<div class="animation">
			    <p class="description">Der One-Stop-Shop für intelligente Lösungen in der digitalen Medienwirtschaft</p>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="mb-1">
			    <div class="animation">
				<h2>Software Produkte</h2>
			    </div>
			    <div class="animation">
				<p><a href="/software-produkte.html">Integrated Audience</a></p>
			    </div>
			</div>
			<div class="mb-1">
			    <div class="animation">
				<h2>IT-Entwicklung</h2>
			    </div>
			    <div class="animation">
				<p><a href="/it-entwicklung.html#entwicklung-2">Front-End</a></p>
			    </div>
			    <div class="animation">
				<p><a href="/it-entwicklung.html#entwicklung-2">Back-End</a></p>
			    </div>
			    <div class="animation">
				<p><a href="/it-entwicklung.html#entwicklung-2">Mobile</a></p>
			    </div>
			</div>
			<div class="mb-1">
			    <div class="animation">
				<h2>Grafik & 2D Motion-Design</h2>
			    </div>
			    <div class="animation">
				<p><a href="/design.html#design-3">Infokarten</a></p>
			    </div>
			    <div class="animation">
				<p><a href="/design.html">2D Motion-Design</a></p>
			    </div>
			    <div class="animation">
				<p><a href="/design.html#design-2">Infografiken</a></p>
			    </div>
			</div>
			<div>
			    <div class="animation">
				<h2>Outstaffing</h2>
			    </div>
			    <div class="animation">
				<p><a href="/outstaffing.html">Kiew Outstaffing</a></p>
			    </div>
			</div>
		    </div>
		</div>
		<div class="next-slide">
		    <div class="text"><div class="line"></div>Kunden und ​Projekte​</div>
		</div>
	    </div>
	</div>
    </section>
    <section id="home-2" class="menu-light bg-red scroll-section" data-headerbg="red">
	<div class="inner">
	    <div class="container">
		<div class="circles">
		    <div class="circle main__intro-circle-grey"></div>
		    <div class="circle main__intro-circle-grey-small"></div>
		    <div class="circle main__intro-circle"></div>
		    <div class="circle main__intro-circle-small"></div>
		    <div class="circle main__intro-circle-extra-small"></div>
		    <div class="circle main__intro-circle-extra-small-top"></div>
		</div>
		<div class="animation">
		    <h2 class="section-heading md">Kunden und Projekte​</h2>
		</div>
		<div class="projects">
		    <ul>
			<li><img src="images/projects/01.png" alt="01"></li>
			<li><img src="images/projects/02.png" alt="02"></li>
			<li><img src="images/projects/03.png" alt="03"></li>
			<li><img src="images/projects/04.png" alt="04"></li>
			<li><img src="images/projects/05.png" alt="05"></li>
			<li><img src="images/projects/06.png" alt="06"></li>
			<li><img src="images/projects/07.png" alt="07"></li>
			<li><img src="images/projects/08.png" alt="08"></li>
			<li><img src="images/projects/09.png" alt="09"></li>
			<li><img src="images/projects/10.png" alt="10"></li>
			<li><img src="images/projects/11.png" alt="11"></li>
			<li><img src="images/projects/12.png" alt="12"></li>
		    </ul>
		</div>
	    </div>
	</div>
    </section>
    <section  id="home-3" class="menu-light bg-red scroll-section" data-headerbg="red">
	<div class="inner">
	    <div class="container">
		<div class="circles">
		    <div class="circle main__intro-circle-grey"></div>
		    <div class="circle main__intro-circle-grey-small"></div>
		    <div class="circle main__intro-circle"></div>
		    <div class="circle main__intro-circle-small"></div>
		    <div class="circle main__intro-circle-extra-small"></div>
		    <div class="circle main__intro-circle-extra-small-top"></div>
		</div>
		<div class="animation">
		    <h2 class="section-heading md">Referenzen</h2>
		</div>
		<div class="testimonials">
		    <div class="owl-carousel owl-theme">
			<div class="item">
			    <div class="quote">
				Lorem ipsum sapien bibendum ultricies nec duis pellentesque urna arcu cursus, morbi ut sapien maecenas vitae: nibh quisque. Auctor, mauris gravida mattis, risus non nibh ut pellentesque adipiscing leo duis. Porta bibendum integer pharetra proin sit sapien arcu vulputate amet.
			    </div>
			    <div class="author">Edmonda Hrothgar</div>
			</div>
			<div class="item">
			    <div class="quote">
				Lorem ipsum sapien bibendum ultricies nec duis pellentesque urna arcu cursus, morbi ut sapien maecenas vitae: nibh quisque. Auctor, mauris gravida mattis, risus non nibh ut pellentesque adipiscing leo duis. Porta bibendum integer pharetra proin sit sapien arcu vulputate amet.
			    </div>
			    <div class="author">Edmonda Hrothgar</div>
			</div>
			<div class="item">
			    <div class="quote">
				Lorem ipsum sapien bibendum ultricies nec duis pellentesque urna arcu cursus, morbi ut sapien maecenas vitae: nibh quisque. Auctor, mauris gravida mattis, risus non nibh ut pellentesque adipiscing leo duis. Porta bibendum integer pharetra proin sit sapien arcu vulputate amet.
			    </div>
			    <div class="author">Edmonda Hrothgar</div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </section>
</div>
{% include "layouts/footer.html" %}
<script src="/javascripts/animations/main-animations.js"></script>
<script src="/javascripts/animations/events.js"></script>
{% endblock %}
