{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content it-entwicklung">
    <section class="scroll-section bg-beige">
	<div class="inner">
	    <div class="container">
		<div class="row">
		    <div class="col-1-2">
			<div class="dev">
			    <div class="img">
				<img src="images/dev/dev-1.png" alt="dev-1">
			    </div>
			    <div class="text">Unsere Lokation in Kiew gewährleistet, dass wir über exzellente IT-Entwickler in Kombination mit einer sehr kompetitiven Kostenkomponente verfügen. Diesen Vorteil geben wir an unsere Kunden selbstverständlich auch weiter!​</div>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="dev">
			    <div class="img">
				<img src="images/dev/dev-2.png" alt="dev-2">
			    </div>
			    <div class="text">Wir stellen unseren Mitarbeitern eine Arbeitsumgebung zur Verfügung, die westeuropäischen Standards und Normen nicht nur entspricht, sondern sogar übertrifft, damit entsprechen wir auch den sozialen Anforderungen westeuropäischer Betriebe.​</div>
			</div>
		    </div>
		</div>
		<div class="row">
		    <div class="col-1-2">
			<div class="dev">
			    <div class="img">
				<img src="images/dev/dev-3.png" alt="dev-3">
			    </div>
			    <div class="text">Die Modulmedia GmbH in Wien serviciert unsere Kunden vor Ort und garantiert somit die fortlaufende lokale Betreuung. Natürlich verfügen wir auch in Kiew über ein deutschsprachiges Kundenservice, damit auch eine direkte Kommunikation mit den Entwicklerteams stattfinden kann.​</div>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="dev">
			    <div class="img">
				<img src="images/dev/dev-4.png" alt="dev-4">
			    </div>
			    <div class="text">Überdies ermöglicht der Standort Kiew aufgrund der Vielzahl an gut aus-gebildeten IT-Fachkräften bei Bedarf die nahtlose Skalierung des Mitarbeiter-standes, sodass wir unsere Mitarbeiterzahl bei Bedarf unmittelbar an die Erfordernisse anpassen können.​</div>
			</div>
		    </div>
		</div>
		<div class="row">
		    <div class="col-1-2">
			<div class="dev">
			    <div class="img">
				<img src="images/dev/dev-5.png" alt="dev-5">
			    </div>
			    <div class="text">Wir entwickeln seit 2016 Softwareprodukte für unsere Kunden, unsere Referenzliste umfasst inzwischen zufriedene Klienten aus Deutschland, der Ukraine und Österreich. Die positive Resonanz unserer Kunden beflügelt uns, auch zukünftig perfekte Qualität zu konkurrenzfähigen Preisen bereitzustellen.​</div>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="dev">
			    <div class="img">
				<img src="images/dev/dev-6.png" alt="dev-6">
			    </div>
			    <div class="text">Die Zufriedenheit unsere Kunden ist uns ein besonders Anliegen. Wir sind bestrebt, auch in diesem Bereich höchsten Ansprüchen gerecht zu werden.​</div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </section>
</div>
{% include "layouts/footer.html" %}
{% endblock %}
