{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content">
    <section id="entwicklung-1" class="menu-light bg-green scroll-section">
	<div class="inner">
	    <div class="container">
		<h1 class="section-heading lg">IT-ENTWICKLUNG</h1>
		<div class="intro-description">
		    Als innovativer, it-dienstleister entwickeln wir softwarelösungen, mit denen unsere kunden ihre geschäftsprozesse optimieren und ihre leistungsfähigkeit erhöhen können.
		</div>
		<div class="intro-description">
		    Wir sind auf die bereiche medien und mobile applikationen spezialisiert und haben unzählige projekte ganz unterschiedlicher art und grössenordnung erfolgreich umgesetzt.
		</div>
		<div class="next-slide">
		    <div class="text">Services</div>
		</div>
	    </div>
	</div>
    </section>
    <section id="entwicklung-2" class="bg-gray-light scroll-section">
	<div class="inner">
	    <div class="container">
		<div class="row">
		    <div class="col-1-3">
			<div class="service">
			    <div class="img equal-height">
				<div class="img-wrp">
				    <img src="/images/service_backend.png" alt="Back-End">
				</div>
			    </div>
			    <div class="content">
				<h2>Back-End</h2>
				<p>Ein vollständig durchdachtes und professionell konzipiertes Back-End ist das Rückgrat Ihrer Internetpräsenz, wir legen daher besonderes Augenmerk auf eine detailgenaue Konzeption in Verbindung mit einem bis ins kleinste Detail erarbeiteten Anforderungsprofil. Unsere Kernkompetenz umfasst dabei Content-Management-Systeme, Datenbanklösungen und E-Commerce-Module.</p>
			    </div>
			</div>
		    </div>
		    <div class="col-1-3">
			<div class="service">
			    <div class="img equal-height">
				<div class="img-wrp">
				    <img src="/images/service_frontend.png" alt="Front-End">
				</div>
			    </div>
			    <div class="content">
				<h2>Front-End</h2>
				<p>Beeindrucken Sie die Besucher Ihrer Website mit innovativem Design und fehlerfreier Technologie! Das Front-End ist in der Regel die erste Kontaktebene eines potenziellen Kunden zu Ihrem Unternehmen, dementsprechend hoch ist auch seine Bedeutung. Unsere UX/UI-Teams konzipieren innovative Webdesigns, die spezifisch auf die Erfordernisse unserer Kunden zugeschnitten sind und durch hohe Usability und überzeugendes Design vom ersten Blick an punkten.</p>
			    </div>
			</div>
		    </div>
		    <div class="col-1-3">
			<div class="service">
			    <div class="img equal-height">
				<div class="img-wrp">
				    <img src="/images/service_mobile.png" alt="Apps">
				</div>
			    </div>
			    <div class="content">
				<h2>Apps</h2>
				<p>Wir entwickeln Apps, die durch Funktionalität und intelligentes Design bestechen. Mit unseren maßgeschneiderten App-Lösungen verbessern Sie die Kundenbindung und unterstreichen gleichzeitig eine kundenorientierte Unternehmensphilosophie. Wir beherrschen die App-Entwicklung für alle Betriebssysteme und Endgeräte, natürlich auch plattformübergreifend.</p>
			    </div>
			</div>
		    </div>
		</div>
		<div class="next-slide">
		    <div class="text">Capabilities</div>
		</div>
	    </div>
	</div>
    </section>
    <section id="entwicklung-3" class="scroll-section bg-beige">
	<div class="inner">
	    <div class="container">
		<div class="row">
		    <div class="col-1-2">
			<div class="dev">
			    <div class="img">
				<img src="images/dev/dev-1.png" alt="dev-1">
			    </div>
			    <div class="text">Unser Standort in Kiew gewährleistet, dass wir über exzellente IT-Entwickler in Kombination mit einer sehr kompetitiven Kostenkomponente verfügen. Diesen Vorteil geben wir an unsere Kunden selbstverständlich auch weiter!</div>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="dev">
			    <div class="img">
				<img src="images/dev/dev-2.png" alt="dev-2">
			    </div>
			    <div class="text">Wir stellen unseren Mitarbeitern eine Arbeitsumgebung zur Verfügung, die westeuropäischen Standards und Normen nicht nur entspricht, sondern diese auch übertrifft. Damit erfüllen wir auch die sozialen Anforderungen an westeuropäische Betriebe.</div>
			</div>
		    </div>
		</div>
		<div class="row">
		    <div class="col-1-2">
			<div class="dev">
			    <div class="img">
				<img src="images/dev/dev-3.png" alt="dev-3">
			    </div>
			    <div class="text">Die Modulmedia GmbH in Wien bietet unseren Kunden Service vor Ort und garantiert somit die fortlaufende lokale Betreuung. Natürlich verfügen wir auch in Kiew über einen deutschsprachigen Kundenservice, sodass ein reibungsloser Kommunikationsablauf auch mit den IT-Entwicklerteams gewährleistet ist.</div>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="dev">
			    <div class="img">
				<img src="images/dev/dev-4.png" alt="dev-4">
			    </div>
			    <div class="text">Überdies ermöglicht der Standort Kiew aufgrund der Vielzahl an gut ausgebildeten IT-Fachkräften die nahtlose Skalierung des Mitarbeiterstandes, sodass wir unsere Mitarbeiterzahl bei Bedarf unmittelbar an die Erfordernisse anpassen können.</div>
			</div>
		    </div>
		</div>
		<div class="row">
		    <div class="col-1-2">
			<div class="dev">
			    <div class="img">
				<img src="images/dev/dev-5.png" alt="dev-5">
			    </div>
			    <div class="text">Wir entwickeln seit 2016 Softwareprodukte für unsere Kunden, unsere Referenzliste umfasst inzwischen zufriedene Klienten aus Deutschland, der Ukraine und Österreich. Die positive Resonanz unserer Kunden beflügelt uns, auch zukünftig perfekte Qualität zu konkurrenzfähigen Preisen bereitzustellen.</div>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="dev">
			    <div class="img">
				<img src="images/dev/dev-6.png" alt="dev-6">
			    </div>
			    <div class="text">Die Zufriedenheit unsere Kunden ist uns ein besonderes Anliegen, wir sind bestrebt, auch in diesem Bereich höchsten Ansprüchen gerecht zu werden.</div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </section>
</div>
{% include "layouts/footer.html" %}
{% endblock %}
