{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content">
    <section id="entwicklung-1" class="menu-light bg-dark scroll-section">
	<div class="inner">
	    <div class="container">
		<div class="circles">
		    <div class="it-development__intro-circle-grey"></div>
		    <div class="it-development__intro-circle-grey-small"></div>
		    <div class="it-development__intro-circle-grey-small-left"></div>
		    <div class="it-development__intro-circle-grey-small-right"></div>
		    <div class="it-development__intro-circle"></div>
		    <div class="it-development__intro-circle-small"></div>
		    <div class="it-development__intro-circle-extra-small"></div>
		    <div class="it-development__intro-circle-extra-small-top"></div>
		</div>
		<div class="animation">
		    <h1 class="section-heading lg">IT-ENTWICKLUNG</h1>
		</div>
		<div class="animation">
		    <div class="intro-description">
			Als innovatier, IT-Dienstleister Entwicheln wir softwarelösungen, mit denen unsere kunden ihre Geschäftsprozeße optimieren und ihre leistungsfähigkeit erhönen können. Wir sind auf die bereiche meden und mobile applikationen spezialisert und haben unzählige projekte ganz unterschiedlicher art und grössenordung erfolgreich umgesetzt.
		    </div>
		</div>
		<div class="next-slide">
		    <div class="text">Services</div>
		</div>
	    </div>
	</div>
    </section>
    <section id="entwicklung-2" class="scroll-section">
	<div class="inner">
	    <div class="container">
		<div class="row">
		    <div class="col-1-3">
			<div class="service">
			    <div class="img equal-height">
				<div class="animation">
				    <div class="img-wrp">
					<img src="images/service_backend.png" alt="Back-End">
				    </div>
				</div>
			    </div>
			    <div class="content">
				<div class="animation">
				    <h2>Back-End</h2>
				</div>
				<div class="animation">
				    <p>Ein vollständig durchdachtes und professionell konzipiertes Back-End ist das Rückgrat Ihrer Internetpräsenz, wir legen daher besonderes Augenmerk auf eine detailgenaue Konzeption in Verbindung mit einem bis ins kleinste Detail erarbeiteten Anforderungsprofil. Unsere Kernkompetenz umfasst dabei Content-Management-Systeme, Datenbanklösungen und E-Commerce-Module.</p>
				</div>
			    </div>
			</div>
		    </div>
		    <div class="col-1-3">
			<div class="service">
			    <div class="img equal-height">
				<div class="animation">
				    <div class="img-wrp">
					<img src="images/service_frontend.png" alt="Front-End">
				    </div>
				</div>
			    </div>
			    <div class="content">
				<div class="animation">
				    <h2>Front-End</h2>
				</div>
				<div class="animation">
				    <p>Beeindrucken Sie die Besucher Ihrer Website mit innovativem Design und fehlerfreier Technologie! Das Front-End ist in der Regel die erste Kontaktebene eines potenziellen Kunden zu Ihrem Unternehmen, dementsprechend hoch ist auch seine Bedeutung. Unsere UX/UI-Teams konzipieren innovative Webdesigns, die spezifisch auf die Erfordernisse unserer Kunden zugeschnitten sind und durch hohe Usability und überzeugendes Design vom ersten Blick an punkten.</p>
				</div>
			    </div>
			</div>
		    </div>
		    <div class="col-1-3">
			<div class="service">
			    <div class="img equal-height">
				<div class="animation">
				    <div class="img-wrp">
					<img src="images/service_mobile.png" alt="Apps">
				    </div>
				</div>
			    </div>
			    <div class="content">
				<div class="animation">
				    <h2>Apps</h2>
				</div>
				<div class="animation">
				    <p>Wir entwickeln Apps, die durch Funktionalität und intelligentes Design bestechen. Mit unseren maßgeschneiderten App-Lösungen verbessern Sie die Kundenbindung und unterstreichen gleichzeitig eine kundenorientierte Unternehmensphilosophie. Wir beherrschen die App-Entwicklung für alle Betriebssysteme und Endgeräte, natürlich auch plattformübergreifend.</p>
				</div>
			    </div>
			</div>
		    </div>
		</div>
		<div class="next-slide">
		    <div class="text">Capabilities</div>
		</div>
	    </div>
	</div>
    </section>
    <section id="entwicklung-3" class="scroll-section bg-gray-light">
	<div class="inner">
	    <div class="container">
		<div class="row">
		    <div class="col-1-2">
			<div class="animation">
			    <div class="dev">
				<div class="img">
				    <div class="icon-wrp">
					{{ sprite('web-development') }}
				    </div>
				</div>
				<div class="text">Unsere Lokation in Kiew gewährleistet, dass wir über exzellente IT-Entwickler in Kombination mit einer sehr kompetitiven Kostenkomponente verfügen. Diesen Vorteil geben wir an unsere Kunden selbstverständlich auch weiter! </div>
			    </div>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="animation">
			    <div class="dev">
				<div class="img">
				    <div class="icon-wrp">
					{{ sprite('workspace') }}
				    </div>
				</div>
				<div class="text">Wir stellen unseren Mitarbeitern eine Arbeitsumgebung zur Verfügung, die westeuropäischen Standards und Normen nicht nur entspricht, sondern sogar übertrifft, damit entsprechen wir auch den sozialen Anforderungen westeuropäischer Betriebe.​</div>
			    </div>
			</div>
		    </div>
		</div>
		<div class="row">
		    <div class="col-1-2">
			<div class="animation">
			    <div class="dev">
				<div class="img">
				    <div class="icon-wrp">
					{{ sprite('customer-service') }}
				    </div>
				</div>
				<div class="text">Die Modulmedia GmbH in Wien serviciert unsere Kunden vor Ort und garantiert somit die fortlaufende lokale Betreuung. Natürlich verfügen wir auch in Kiew über ein deutschsprachiges Kundenservice, damit auch eine direkte Kommunikation mit den Entwicklerteams stattfinden kann.​</div>
			    </div>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="animation">
			    <div class="dev">
				<div class="img">
				    <div class="icon-wrp">
					{{ sprite('network') }}
				    </div>
				</div>
				<div class="text">Überdies ermöglicht der Standort Kiew aufgrund der Vielzahl an gut aus-gebildeten IT-Fachkräften bei Bedarf die nahtlose Skalierung des Mitarbeiter-standes, sodass wir unsere Mitarbeiterzahl bei Bedarf unmittelbar an die Erfordernisse anpassen können.​</div>
			    </div>
			</div>
		    </div>
		</div>
		<div class="row">
		    <div class="col-1-2">
			<div class="animation">
			    <div class="dev">
				<div class="img">
				    <div class="icon-wrp">
					{{ sprite('medal') }}
				    </div>
				</div>
				<div class="text">Wir entwickeln seit 2016 Softwareprodukte für unsere Kunden, unsere Referenzliste umfasst inzwischen zufriedene Klienten aus Deutschland, der Ukraine und Österreich. Die positive Resonanz unserer Kunden beflügelt uns, auch zukünftig perfekte Qualität zu konkurrenzfähigen Preisen bereitzustellen.​</div>
			    </div>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="animation">
			    <div class="dev">
				<div class="img">
				    <div class="icon-wrp">
					{{ sprite('rating') }}
				    </div>
				</div>
				<div class="text">Die Zufriedenheit unsere Kunden ist uns ein besonders Anliegen. Wir sind bestrebt, auch in diesem Bereich höchsten Ansprüchen gerecht zu werden.​</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </section>
</div>
{% include "layouts/footer.html" %}
<script src="/javascripts/animations/it-development-animations.js"></script>
<script src="/javascripts/animations/events.js"></script>
{% endblock %}
