{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pagetitle = 'outstaffing' %}

{% set title = 'Outstaffing — Modul Media' %}

{% set description = 'Modul Media — Software, Development, Design' %}

{% set keywords = '' %}

{% set cover = 'modul_media_cover_animationen.jpg' %}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content outstaffing">
    <section id="outstaffing-1" class="menu-light bg-red scroll-section">
	<div class="inner">
	    <div class="container">
		<div class="circles">
		    <div class="it-development__intro-circle-grey"></div>
		    <div class="it-development__intro-circle-grey-small"></div>
		    <div class="it-development__intro-circle-grey-small-left"></div>
		    <div class="it-development__intro-circle-grey-small-right"></div>
		    <div class="it-development__intro-circle"></div>
		    <div class="it-development__intro-circle-small"></div>
		    <div class="it-development__intro-circle-extra-small"></div>
		    <div class="it-development__intro-circle-extra-small-top"></div>
		</div>
		<div class="animation">
		    <h1 class="section-heading md">OUTSTAFFING in die Ukraine​</h1>
		</div>
		<div class="row">
		    <div class="col col-h">
			<h2>Die Vorteile​</h2>
		    </div>
		    <div class="col-1">
			<div class="advantage">
			    <div class="img">
				<div class="animation">
				    <img src="images/progress.svg" alt="progress" class="image">
				</div>
			    </div>
			    <div class="content">
				<div class="animation">
				    <p>Die Ukraine verfügt über 100.000 IT-Fachkräfte, damit nimmt sie den 1. Platz im europäischen Ranking ein, zusätzlich kommen jährlich zwischen 10.0000 und 15.000 Informatik-Hochschulabsolventen hinzu, somit kann man in der Ukraine hochqualifizierte externe Mitarbeiter verhältnismäßig leicht engagieren.​</p>
				</div>
			    </div>
			</div>
		    </div>
		</div>
		<div class="row">
		    <div class="col col-h">
		    </div>
		    <div class="col-1">
			<div class="advantage">
			    <div class="img">
				<div class="animation">
				    <img src="images/profits.svg" alt="profits" class="image">
				</div>
			    </div>
			    <div class="content">
				<div class="animation">
				    <p>Die Ukraine ist im osteuropäischen Vergleich das günstigste Land mit den geringsten Lebenshaltungskosten. Im Vergleich zu Österreich können bis zu 50% an Kosten im Rahmen von Outstaffiing-Projekten eingespart werden. Basierend auf unseren Erfahrungswerten ist ein Qualitätsverlust definitiv nicht mit den geringeren Kosten einhergehend.​</p>
				</div>
			    </div>
			</div>
		    </div>
		</div>
		<div class="next-slide">
		    <div class="text"><div class="line"></div>Erfahren Sie mehr​</div>
		</div>
	    </div>
	</div>
    </section>
    <section id="outstaffing-2" class="bg-gray scroll-section">
	<div class="inner">
	    <div class="container">
		<div class="animation">
		    <h2 class="section-heading sm">Modul Media ist der idealer Partner für die<br> Implementierung Ihrer Outstaffing-Strategie! ​</h2>
		</div>
		<div class="row">
		    <div class="col-1-2">
			<div class="animation">
			    <div class="strategy">
				<div class="num"><p>01</p></div>
				<div class="content">
				    <h3>Outstaffing-Consulting</h3>
				    <p>Unser bestehendes Team verfügt über ein langjähriges fundiertes Informatik-Fachwissen, das hervorragend dazu geeignet ist, unsere Kunden im Rahmen ihrer Outstaffing-Erfordernisse kompetent zu beraten, damit gewährleistet ist, dass auch tatsächlich die gewünschte Optimierung durch externe Mitarbeiter erzielt wird.</p>
				</div>
			    </div>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="animation">
			    <div class="strategy">
				<div class="num"><p>02</p></div>
				<div class="content">
				    <h3>Outstaffing-Verwaltung</h3>
				    <p>Durch unsere langjährige Kooperation mit führenden lokalen Steuerberatungskanzleien sind wir in der Lage, die zukünftigen externen Teammitglieder unserer Kunden auch buchhalterisch auf westeuropäischen Standards zu begleiten. Dies gewährleistet eine reibungslose Integration in das bestehende Rechnungswesen unserer Klienten.</p>
				</div>
			    </div>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="animation">
			    <div class="strategy">
				<div class="num"><p>03</p></div>
				<div class="content">
				    <h3>Outstaffing-Rekrutierung</h3>
				    <p>Aufgrund unserer herausragenden Expertise am ukrainischen Personalmarkt für IT-Fachkräfte können wir Sie selbstverständlich auch bei der Rekrutierung Ihrer zukünftigen externen Mitarbeiter/innen auf allen Ebenen begleiten.</p>
				</div>
			    </div>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="animation">
			    <div class="strategy">
				<div class="num"><p>04</p></div>
				<div class="content">
				    <h3>Outstaffing-Arbeitsplätze​</h3>
				    <p>Wir sind uns unserer Verantwortung gegenüber externen Mitarbeitern bewusst, deshalb stellen wir ausschließlich Büroräumlichkeiten zur Verfügung, die westeuropäischen Standards entsprechen. Die Arbeitsumgebung bei Modul Media ist auf überdurchschnittlich hohen Standards und wird deshalb auch entsprechend von den internen und externen Mitarbeitern geschätzt. ​</p>
				</div>
			    </div>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="animation">
			    <div class="strategy">
				<div class="num"><p>05</p></div>
				<div class="content">
				    <h3>Outstaffing-Lokationen​</h3>
				    <p>Modul Media verfügt über zwei Standorte in Kiew, diese ergänzen sich verkehrstechnisch optimal, dadurch verringern sich die Anfahrtszeiten für die Mitarbeiter zu den Bürostandorten signifikant. Außerdem erweitert sich dadurch die Anzahl potenzieller Bewerber, da die Bürolokation in Kiew aufgrund des Verkehrsaufkommens ein sehr großes Thema ist.</p>
				</div>
			    </div>
			</div>
		    </div>
		    <div class="col-1-2">
			<div class="animation">
			    <div class="strategy">
				<div class="num"><p>06</p></div>
				<div class="content">
				    <h3>Outstaffing-Datensicherheit​</h3>
				    <p>ist durch unsere Kooperation mit Creative Quarter Kiew fast unlimitiert erweiterbar. Damit können wir die Arbeitsplatzerfordernisse unserer Outstaffing-Kunden auf monatlicher Basis anpassen – schnell, unkompliziert und flexibel!</p>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </section>
    <section id="outstaffing-3" class="scroll-section design">
	<div class="inner">
	    <div class="container">
		<div class="animation">
		    <h2 class="section-heading sm">DER Arbeitsplatz</h2>
		</div>
		<div class="animation">
		    <p class="desc">Unsere Infrastruktur in Kiew ist durch unsere Kooperation mit Creative Quartes Kiew fast unlimitiert erweiterbar, damit können wir die Arbeitsplatzerfordernisse​ unserer Outstaffing-Kunden auf monatlicher Basis anpassen, schnell, unkompliziert und flexible!</p>
		</div>
		<div class="infografiken offset">
		    <div class="left-title">
		    </div>
		    <div class="images-wrp">
			<div class="img-wrp">
			    <a href="media/outstaffing/outstaffing-1-full.jpg" data-fancybox="outstaffing" data-caption="About us modulmedia">
				<img src="media/outstaffing/outstaffing-1.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/outstaffing/outstaffing-2-full.jpg" data-fancybox="outstaffing" data-caption="About us modulmedia">
				<img src="media/outstaffing/outstaffing-2.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/outstaffing/outstaffing-3-full.jpg" data-fancybox="outstaffing" data-caption="About us modulmedia">
				<img src="media/outstaffing/outstaffing-3.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/outstaffing/outstaffing-4-full.jpg" data-fancybox="outstaffing" data-caption="About us modulmedia">
				<img src="media/outstaffing/outstaffing-4.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/outstaffing/outstaffing-5-full.jpg" data-fancybox="outstaffing" data-caption="About us modulmedia">
				<img src="media/outstaffing/outstaffing-5.jpg" alt="about us modulmedia">
			    </a>
			</div>
		    </div>
		    <div class="images-wrp">
			<div class="img-wrp">
			    <a href="media/outstaffing/outstaffing-6-full.jpg" data-fancybox="outstaffing" data-caption="About us modulmedia">
				<img src="media/outstaffing/outstaffing-6.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/outstaffing/outstaffing-7-full.jpg" data-fancybox="outstaffing" data-caption="About us modulmedia">
				<img src="media/outstaffing/outstaffing-7.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/outstaffing/outstaffing-8-full.jpg" data-fancybox="outstaffing" data-caption="About us modulmedia">
				<img src="media/outstaffing/outstaffing-8.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/outstaffing/outstaffing-9-full.jpg" data-fancybox="outstaffing" data-caption="About us modulmedia">
				<img src="media/outstaffing/outstaffing-9.jpg" alt="about us modulmedia">
			    </a>
			</div>
			<div class="img-wrp">
			    <a href="media/outstaffing/outstaffing-10-full.jpg" data-fancybox="outstaffing" data-caption="About us modulmedia">
				<img src="media/outstaffing/outstaffing-10.jpg" alt="about us modulmedia">
			    </a>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </section>
</div>
{% include "layouts/footer.html" %}
<script src="/javascripts/animations/it-outstaffing-animations.js"></script>
<script src="/javascripts/animations/events.js"></script>
{% endblock %}
