{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content software">
    <section id="software-1" class="menu-light bg-blue scroll-section">
	<div class="inner">
	    <div class="container">
		<div class="circles">
		    <div class="software__intro-circle-grey"></div>
                    <div class="software__intro-circle-grey-small"></div>
                    <div class="software__intro-circle-grey-small-left"></div>
                    <div class="software__intro-circle-grey-small-right"></div>
                    <div class="software__intro-circle"></div>
                    <div class="software__intro-circle-small"></div>
                    <div class="software__intro-circle-extra-small"></div>
                    <div class="software__intro-circle-extra-small-top"></div>
		</div>
		<div class="animation">
		    <h1 class="section-heading lg">Integrated audience</h1>
		</div>
		<div class="row">
		    <div class="col-left">
			<div class="animation">
			    <div class="embed-video-wrp">
				<div class="player-overlay">
				    <video controls autoplay muted>
					<source src="/video/ina-animation.mp4" type="video/mp4">
				    </video>
				</div>
			    </div>
			</div>
		    </div>
		    <div class="col-right">
			<div class="animation">
			    <div class="logo"><img src="images/ina_logo.png" alt="INA"></div>
			</div>
			<div class="content">
			    <div class="animation">
				<p>INA ist die perfekte White-Label-Lösung für die nahtlose Integration ihrer Community oder Leserschaft, um nutzergenerierte Inhalte (UGC) zu erhalten.</p>
			    </div>
			    <div class="animation">
				<p>Mit INA können Sie Ihrer Leserschaft eine APP und eine WEBSITE zur Verfügung stellen, mit denen gewährleistet ist, dass Sie umgehend mit Content (Livestreams, Fotos, Videos und Artikeln) von Ihren Lesern versorgt werden.</p>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
    </section>
</div>
{% include "layouts/footer.html" %}
<script src="/javascripts/animations/software-animations.js"></script>
<script src="/javascripts/animations/events.js"></script>
{% endblock %}
