{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content software">
    <section id="software-1" class="menu-light bg-blue scroll-section">
	<div class="inner">
	    <div class="container">
		<h1 class="section-heading lg">Integrated audience</h1>
		<div class="intro-description">
		    <div class="text"><h3>Software</h3></div>
		    <div class="logo"><img src="images/ina_logo.png" alt="INA"></div>
		</div>
		<div class="next-slide">
		    <div class="text">Erfahren Sie mehr</div>
		</div>
	    </div>
	</div>
    </section>
    <section id="software-2" class="scroll-section">
	<div class="inner">
	    <div class="container">
		<div class="video-wrp">
		    <div class="player-overlay">
			<video>
			    <source src="/video/ina-animation.mp4" type="video/mp4">
			</video>
		    </div>
		</div>
		<div class="content">
		    <p>INA ist die perfekte White-Label-Lösung für die nahtlose Integration ihrer Community oder Leserschaft, um nutzergenerierte Inhalte (UGC) zu erhalten.</p>
		    <p>Mit INA können Sie Ihrer Leserschaft eine APP und eine WEBSITE zur Verfügung stellen, die gewährleistet, dass Sie von Ihren Lesern umgehend mit Content (Livestreams, Fotos, Videos und Artikeln) versorgt werden.</p>
		    <p>Die INA-Software ist auch eine ideale Lösung für Medienunternehmen, die ihre Journalisten mit einer Interaktionsplattform ausstatten wollen, da sie das perfekte Tool zur Übertragung von Livestreams, Verwaltung von Content und Koordination von App-Usern darstellt.</p>
		</div>
	    </div>
	</div>
    </section>
</div>
{% include "layouts/footer.html" %}
{% endblock %}
