{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}
{% set pagetitle = 'about' %}

{% set title = 'Über Uns — Modul Media' %}

{% set description = 'Modul Media — Software, Development, Design' %}

{% set keywords = 'Modul Media, Modul, Media, integrated audience, INA, graphic, infographic, animation design, web-development, development, front-end, back-end, news, video, photo, application' %}

{% set cover = 'modul_media_cover_about.jpg' %}

{% extends 'layouts/application.html' %}

{% block content %}
{% include "layouts/header.html" %}
<div class="main-content uber-uns">
    <section id="uber-uns-1" class="bg-gray scroll-section">
	<div class="inner">
	    <div class="container">
		<div class="circles">
		    <div class="about__intro-circle-grey"></div>
		    <div class="about__intro-circle-grey-small"></div>
		    <div class="about__intro-circle-grey-small-left"></div>
		    <div class="about__intro-circle-grey-small-right"></div>
		    <div class="about__intro-circle"></div>
		    <div class="about__intro-circle-small"></div>
		    <div class="about__intro-circle-extra-small"></div>
		    <div class="about__intro-circle-extra-small-top"></div>
		</div>
		<div class="animation">
		    <h1 class="section-heading md">Über uns</h1>
		</div>
		<div class="content">
		    <div class="text">
			<div class="animation">
			    <p class="p-1">Die Modul Media LLC Kiew wurde im Jahre 2016 in Kiew gegründet und war ursprünglich als Projektgesellschaft für ein umfangreiches Medien-IT-Projekt konzipiert, das in Deutschland aufgrund des ausgeprägten Informatiker-Mangels nicht in der gesetzten Frist implementiert werden konnte. Durch die positiven Erfahrungen, die im Zuge der Projektimplementierung in Kiew gemacht wurden, hat man sich nach der erfolgreichen Umsetzung des ursprünglichen Projekts dazu entschlossen, Dienstleistungen im Segment der IT-Entwicklung, des Outstaffings und des grafischen Designs auch für Kunden in Österreich und Deutschland anzubieten.</p>
			</div>
			<div class="animation">
			    <p class="p-2">
				Die Dienstleistungspalette orientierte sich dabei ausschließlich an den bereits zuvor für das Medienprojekt erbrachten Leistungen, also den Bereichen, in dem in den letzten Jahren schon die Kernkompetenzen aufgebaut worden waren, da gerade hier sowohl die Expertise als auch das Personal vorhanden waren.</p>
			</div>
			<div class="animation">
			    <p class="p-3">
				In weiterer Folge wurde im Jahre 2018 in Österreich die Modul Media GmbH gegründet, um einerseits Kunden eine Abwicklungsstelle in Westeuropa zur Verfügung zu stellen und andererseits eine lokale Kundenbetreuung und ein zentrales Marketing vor Ort zu etablieren.
			    </p>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </section>
</div>
{% include "layouts/footer.html" %}
<script src="/javascripts/animations/about-animations.js"></script>
<script src="/javascripts/animations/events.js"></script>
{% endblock %}