.design__intro-content-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 120px;
    padding-left: 170px
}

@media screen and (max-width:1024px) {
    .design__intro-content-wrapper {
        padding-left: 100px;
        margin-top: 80px
    }
}

@media screen and (max-width:860px) {
    .design__intro-content-wrapper {
        padding-left: 45px;
        margin-top: 45px
    }
}

.design__intro-content-wrapper .design__intro-content-title {
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 24px;
    font-family: "DIN Condensed", sans-serif;
    letter-spacing: 1.2px;
    -webkit-transform: rotate(-90deg) translate(-100%, 0);
    transform: rotate(-90deg) translate(-100%, 0);
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
    color: rgba(255, 255, 255, .25);
    text-transform: uppercase;
    overflow: hidden
}

.design__intro-content-wrapper .design__intro-content-title h2 {
    -webkit-transform: translate(0, -110%);
    transform: translate(0, -110%)
}

@media screen and (max-width:1024px) {
    .design__intro-content-wrapper .design__intro-content-title {
        font-size: 20px
    }
}

@media screen and (max-width:860px) {
    .design__intro-content-wrapper .design__intro-content-title {
        font-size: 16px
    }
}

.design__intro-content-wrapper .design__intro-content-overlay-right {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #000;
    background: -webkit-gradient(linear, right top, left top, color-stop(70%, #0c0c04), to(rgba(12, 12, 4, 0)));
    background: linear-gradient(to left, #0c0c04 70%, rgba(12, 12, 4, 0));
    background-position: fixed;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    cursor: e-resize;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility .2s ease-in-out, opacity .2s ease-in-out;
    transition: visibility .2s ease-in-out, opacity .2s ease-in-out
}

@media screen and (max-width:1024px) {
    .design__intro-content-wrapper .design__intro-content-overlay-right {
        display: none;
        -webkit-transform: translate(40%, 0);
        transform: translate(40%, 0)
    }
}

@media screen and (max-width:860px) {
    .design__intro-content-wrapper .design__intro-content-overlay-right {
        background: -webkit-gradient(linear, right top, left top, color-stop(30%, #000), to(rgba(0, 0, 0, 0)));
        background: linear-gradient(to left, #000 30%, rgba(0, 0, 0, 0));
        -webkit-transform: translate(40%, 0);
        transform: translate(40%, 0)
    }
}

@media screen and (max-width:760px) {
    .design__intro-content-wrapper .design__intro-content-overlay-right {
        background: -webkit-gradient(linear, right top, left top, from(black), to(rgba(0, 0, 0, 0)));
        background: linear-gradient(to left, #000 0, rgba(0, 0, 0, 0))
    }
}

.design__intro-content-wrapper .design__intro-content-overlay-left {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: #000;
    background: -webkit-gradient(linear, left top, right top, color-stop(70%, #0c0c04), to(rgba(12, 12, 4, 0)));
    background: linear-gradient(to right, #0c0c04 70%, rgba(12, 12, 4, 0));
    background-position: fixed;
    -webkit-transform: translate(-70%, 0);
    transform: translate(-70%, 0);
    cursor: ew-resize;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility .2s ease-in-out, opacity .2s ease-in-out;
    transition: visibility .2s ease-in-out, opacity .2s ease-in-out
}

@media screen and (max-width:1024px) {
    .design__intro-content-wrapper .design__intro-content-overlay-left {
        display: none;
        -webkit-transform: translate(-80%, 0);
        transform: translate(-80%, 0)
    }
}

@media screen and (max-width:860px) {
    .design__intro-content-wrapper .design__intro-content-overlay-left {
        background: -webkit-gradient(linear, left top, right top, color-stop(30%, #000), to(rgba(0, 0, 0, 0)));
        background: linear-gradient(to right, #000 30%, rgba(0, 0, 0, 0));
        -webkit-transform: translate(-40%, 0);
        transform: translate(-40%, 0)
    }
}

@media screen and (max-width:760px) {
    .design__intro-content-wrapper .design__intro-content-overlay-left {
        background: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0)));
        background: linear-gradient(to right, #000 0, rgba(0, 0, 0, 0))
    }
}

.design__intro-content-wrapper .design__intro-content-overlay-left.visible {
    visibility: visible;
    opacity: 1
}

.design__intro-content-wrapper .design__intro-content-overlay-right.visible {
    visibility: visible;
    opacity: 1
}

.design__intro-content-wrapper .design__intro-content-line-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    opacity: 0
}

.design__intro-content-wrapper .design__intro-content-line {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.design__intro-content-wrapper .design__intro-content-line .design__intro-content-item {
    position: relative;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    max-height: 373px;
    height: 373px;
    background-color: transparent;
    margin: 8px;
    cursor: pointer;
    opacity: 0
}

.design__intro-content-wrapper .design__intro-content-line .design__intro-content-item:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: -webkit-gradient(linear, left top, left bottom, from(#0c0c04), color-stop(98%, #222));
    background: linear-gradient(to bottom, #0c0c04, #222 98%);
    opacity: .5;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, transform .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

.design__intro-content-wrapper .design__intro-content-line .design__intro-content-item:hover:after {
    opacity: 0;
    visibility: hidden
}

.design__intro-content-wrapper .design__intro-content-line .design__intro-content-item:hover img.poster {
    visibility: hidden;
    opacity: 0
}

@media screen and (max-width:1601px) {
    .design__intro-content-wrapper .design__intro-content-line .design__intro-content-item {
        max-height: 250px;
        height: 250px
    }
}

@media screen and (max-width:860px) {
    .design__intro-content-wrapper .design__intro-content-line .design__intro-content-item {
        max-height: 188px;
        height: 188px
    }
}

@media screen and (max-width:760px) {
    .design__intro-content-wrapper .design__intro-content-line .design__intro-content-item {
        max-height: 135px;
        height: 135px
    }
}

.design__intro-content-wrapper .design__intro-content-line .design__intro-content-item .animation__progress {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1)
}

.design__intro-content-wrapper .design__intro-content-line .design__intro-content-item img,
.design__intro-content-wrapper .design__intro-content-line .design__intro-content-item video {
    position: relative;
    z-index: 0;
    width: auto;
    height: 100%
}

.design__intro-content-wrapper .design__intro-content-line .design__intro-content-item video {
    display: none
}

.design__intro-content-wrapper .design__intro-content-line .design__intro-content-item img.pop-up {
    position: absolute;
    top: 0;
    left: 0
}

.design__intro-content-wrapper .design__intro-content-line .design__intro-content-item:hover .animation__progress {
    visibility: visible;
    opacity: 1
}