@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@font-face {
    font-family: 'DIN Pro Cond';
    src: url('../fonts/DINPro-CondensedBold.woff2') format('woff2'),
        url('../fonts/DINPro-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
