body::-webkit-scrollbar {
    width: .5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
svg path {
    fill:inherit;
    stroke:inherit;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1009;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
.container {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1560px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -30px;
    justify-content: center;
    align-items: center;
}
.row [class*="col-"]{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 30px;
}
@media (min-width:768px){
    .col-1-2 {
	flex: 0 0 50%;
	max-width: 50%;
    }
    .col-1-3 {
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
    }
}
@media (min-width:600px) and (max-width:767px){
    .col-1-3 {
	flex: 0 0 50%;
	max-width: 50%;
    }
}
.mb-1{
    margin-bottom: 1rem;
}
.m-0{
    margin: 0 !important;
}
.site-header{
    z-index: 999;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @media (max-width:767px) {
	position: absolute;
    }
    .logo{
	padding-bottom: 3px;
    }
    .nav{
	margin: 0;
	li{
	    margin-left: 1.5rem;
	    @media (min-width:768px) and (max-width:991px) {
		margin-left: 1rem;
	    }
	}
    }
    .nav-item{
	font-family: $font-secondary;
	font-weight: bold;
	font-style: normal;
	font-size: rem(16px);
	letter-spacing: 1.2px;
	color: $black;
	text-transform: uppercase;
	@media (max-width:767px) {
	    color: #fff;
	    font-size: 16px;
	}
    }
    &.light{
	.nav-item{
	    color: #fff;
	}
	#main-menu-btn{
	    .icon{
		i{
		    background-color: #fff;
		}
	    }
	    .btn-text{
		color: #fff;
	    }
	}
    }
    .nav-item:hover,
	.active .nav-item{
	color: $gray;
    }
    .logo-black,
    .logo-white{
	display: inline-block;
	width: 144px;
	height: 18px;
    }
    .logo-white{
	display: none;
    }
    .open-menu &,
    &.light{
	.logo-black{
	    display: none;
	}
	.logo-white{
	    display: inline-block;
	}
    }
    #main-menu-btn{
	display: none;
	padding: 0;
	background: none;
	border: 0 none;
	z-index: 10;
	position: absolute;
	right: 1rem;
	transform: translateY(-50%);
	top: 50%;
	.icon{
	    display: inline-block;
	    width: 25px;
	    height: 20px;
	    position: relative;
	    top: 4px;
	    i{
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
		background-color: #000;
		&:nth-child(1){
		    top: 0;
		}
		&:nth-child(2),
		    &:nth-child(3){
		    top: 8px;
		}
		&:nth-child(4){
		    top: 16px;
		}
	    }
	}
	//chkdsk c:/f
	.btn-text{
	    color: #000;
	    position: relative;
	    top: -2px;
	}
	&.open{
	    .icon{
		i{
		    background-color: #fff;
		    &:nth-child(1){
			top: 9px;
			width: 0;
			left: 50%;
		    }
		    &:nth-child(2){
			transform: rotate(45deg);
		    }
		    &:nth-child(3){
			transform: rotate(-45deg);
		    }
		    &:nth-child(4){
			top: 9px;
			width: 0;
			left: 50%;
		    }
		}
	    }
	    .btn-text{
		color: #fff;
	    }
	}
    }
    @media (max-width:767px){
	padding: 1rem;
	#main-menu-btn{
	    display: block;
	}
	.navigation{
	    display: none;
	    position: absolute;
	    z-index: 9999;
	    left: 0;
	    right: 0;
	    top: 49px;
	    bottom: 0;
	    .nav{
		background-color: #000;
		flex-direction: column;
		padding: 1rem 0 2rem;
		li{
		    margin-left: 1.5rem;
		    margin-bottom: 1rem;
		}
	    }
	}
    }
    .open-menu &{
	background-color: #000;
    }
}
/*Sections*/
.scroll-section{
    .inner{
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 5rem 0;
	height: 100%;
	@media (max-width:991px){
	    padding: 4rem 0;
	}
	@media (max-width:767px){
	    padding: 5rem 0;
	}
	img{
	    max-width: 100%;
	    height: auto;
	}
    }
}
.next-slide{
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: auto;
    bottom: 15%;
    left: 47%;
    color: #fff;
    cursor: pointer;
    transform: rotate(-90deg) translate(5px,-8px);
    @media (max-width:767px){
	display: none;
    }
    .text{
	font-size: rem(16px);
	color: #B5B5B5;
	padding-left: rem(70px);
	position: relative;
	.line{
	    position: absolute;
	    left: 0;
	    top: 50%;
	    content: '';
	    height: 1px;
	    width: rem(60px);
	    display: block;
	    transform-origin:100% 100%;
	    background: linear-gradient(90deg, rgba(#5D5F66, 0.1) 0%, #5D5F66 100%);
	    .bg-red &{
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, #fff 100%);
	    }
	    .bg-beige &,
	    .bg-gray &,
	    .bg-gray-light &{
		background: linear-gradient(90deg, rgba(181, 181, 181, 0.1) 0%, #B5B5B5 100%);
	    }
	}
    }
}
.bg-red{
    color: #fff !important;
    background: linear-gradient(180deg, #0C0404 0%, #210D0D 100%);
}
.bg-header-red{
    background-color: #0C0404;
}
.bg-dark{
    color: #fff !important;
    background: linear-gradient(to bottom,#0c0c04,#222 98%);
}
.bg-beige{
    background: linear-gradient(180deg, #E9E7DA 0%, #F1F0EA 100%);
}
.bg-gray{
    background: linear-gradient(180deg, #EBEBEB 0%, #F5F5F5 100%);
}
.bg-gray-light{
    background: linear-gradient(to bottom,#e7e7e7,#f9f9f9);
}
.bg-blue{
    color: #fff !important;
    background: linear-gradient(180deg, #0C0404 0%, #0E1223 100%);
}
.bg-green{
    color: #fff !important;
    background: linear-gradient(to bottom,#0c0c04,#23220e 98%);
}
.section-heading{
    font-size: rem(56px);
    &.lg{
	font-size: rem(130px);
	@media(max-width:1599px){
	    font-size: 5rem;
	}
	@media (max-width:991px){
	    font-size: 5rem;
	}
	@media (max-width:767px){
	    font-size: 3rem;
	}
    }
    &.md{
	font-size: rem(96px);
	@media (max-width:991px){
	    font-size: 4rem;
	}
	@media (max-width:767px){
	    font-size: 3rem;
	}
    }
    &.sm{
	font-size: rem(44px);
	line-height: 1.1;
	@media (max-width:991px){
	    //font-size: 4rem;
	}
	@media (max-width:767px){
	    font-size: 2rem;
	}
    }
}
.home{
    .section-heading{
	position: relative;
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
	&:after{
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    content: '';
	    height: 2px;
	    width: rem(260px);
	    display: block;
	    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0.1) 100%);
	}
	&.lg:after{
	    width: rem(400px);
	}
    }
}
#home-1{
    .next-slide{
	left: 15%;
    }
    .description{
	font-size: rem(20px);
	font-weight: 300;
	max-width: rem(460px);
    }
    h2{
	font-size: rem(60px);
	margin-bottom: 0;
	@media (max-width:991px){
	    font-size: 3rem;
	}
	@media (max-width:767px){
	    font-size: 2rem;
	}
    }
    p{
	margin-bottom: .3rem;
	a{
	    font-weight: 700;
	    color: #fff;
	    font-size: rem(22px);
	    &:hover{
		color: #C90000;
	    }
	}
    }
    @media (max-width:767px){
	.col-1-2 + .col-1-2{
	    margin-top: 3rem;
	}
    }
}
#home-3{
    .container{
	max-width: 1030px;
	background-image: url("data:image/svg+xml,%3Csvg width='480' height='480' viewBox='0 0 480 480' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M435 240H360V180C360 146.906 386.906 120 420 120H427.5C439.969 120 450 109.969 450 97.5V52.5C450 40.0312 439.969 30 427.5 30H420C337.125 30 270 97.125 270 180V405C270 429.844 290.156 450 315 450H435C459.844 450 480 429.844 480 405V285C480 260.156 459.844 240 435 240ZM165 240H90V180C90 146.906 116.906 120 150 120H157.5C169.969 120 180 109.969 180 97.5V52.5C180 40.0312 169.969 30 157.5 30H150C67.125 30 0 97.125 0 180V405C0 429.844 20.1562 450 45 450H165C189.844 450 210 429.844 210 405V285C210 260.156 189.844 240 165 240Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='240' y1='30' x2='240' y2='450' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23DA0917' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%23DA0917' stop-opacity='0.05'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: rem(480px 480px);
    }
}
.projects{
    margin-top: 2.5rem;
    max-width: 1410px;
    ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin: rem(0 -4px);
	li{
	    opacity: 0;
	    padding: rem(4px);
	    flex: 0 0 16.66666666666667%;
	    max-width: 16.66666666666667%;
	    @media (min-width:480px) and (max-width:991px) {
		flex: 0 0 25%;
		max-width: 25%;
	    }
	    @media (max-width:479px) {
		flex: 0 0 50%;
		max-width: 50%;
	    }
	}
    }
}
.testimonials{
    opacity: 0;
    max-width: rem(855px);
    .quote{
	font-size: rem(25px);
	line-height: 1.6;
	margin-bottom: 2rem;
	@media (max-width:767px){
	    font-size: 1.3rem;
	}
    }
    .author{
	font-family: $font-secondary;
	font-weight: 700;
	font-size: rem(20px);
	color: #B5B5B5;
    }
}
.map-responsive {
    padding-bottom: 100%;
    height: 0;
    border-radius: 50%;
}
.contact-info{
    margin-top: -4.8rem;
    position: relative;
    z-index: 10;
    h2{
	font-size: rem(55px);
	margin-bottom: 1rem;
    }
    h3{
	font-size: rem(26px);
	text-transform: none;
	color: #DA0917;
    }
    a{
	color: $black;
    }
    @media(min-width:768px){
	.hide-md{
	    opacity: 0;
	}
    }
    .s-2 p{
	padding-top: 1rem;
	border-top: 1px solid #CBCBCB;
    }
}
@media(max-width: 1439px){
    .main-content{
	.container{
	    max-width: 1200px;
	}
    }
}
#entwicklung-1{
    .section-heading{
	position: relative;
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
	&:after{
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    content: '';
	    height: 2px;
	    width: rem(260px);
	    display: block;
	    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0.1) 100%);
	}
    }
    .intro-description{
	font-weight: 300;
	font-size: rem(25px);
	line-height: 1.8;
	max-width: rem(1016px);
	@media (max-width: 767px){
	    font-size: 1.2rem;
	}
    }
}
#entwicklung-2{
    .service{
	.img{
	    display: flex;
	    align-items: flex-end;
	    // justify-content: center;
	    @media(max-width:1439px){
		.back-end,
		.apps{
		    max-width: 200px;
		}
		.front-end{
		    max-width: 290px;
		}
	    }
	}
	.content{
	    margin-top: 1rem;
	    h2{
		font-size: rem(50px);
	    }
	    p{
		color: #5D5F66;
		font-size: rem(16px);
		line-height: 1.6875;
	    }
	}
    }
    .next-slide{
	bottom: 8%;
	left: 33%;
	.text{
	    color: #5D5F66;
	    &:before{
		background: linear-gradient(90deg, rgba(#5D5F66, 0.1) 0%, #5D5F66 100%);
	    }
	}
    }
}
#entwicklung-3{
    @media (min-width: 768px){
	.row:not(:last-child){
	    margin-bottom: 3rem;
	}
    }
    .dev{
	display: flex;
	align-items: center;
	@media (max-width: 767px){
	    margin-bottom: 2rem;
	}
	.img{
	    flex: 0 0 20%;
	    padding-right: rem(25px);
	}
    }
    .icon-wrp{
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25%;
	.sprite{
	    display: inline-block;
	    width: 100%;
	    height: auto;
	}
    }
}
#outstaffing-1{
    @media (min-width: 768px){
	.col-1 {
	    flex: 0 0 86%;
	    max-width: 86%;
	}

    }
    .row [class*="col-"]{
	margin-bottom: 3rem;
    }
    .col-h{
	@media (min-width:768px){
	    flex: 0 0 14%;
	    max-width: 14%;
	}
	h2{
	    opacity: 0;
	    color: $gray;
	    font-size: rem(24px);
	    text-align: center;
	    margin: 0;
	    @media (min-width:768px){
		transform: rotate(-90deg) translate(rem(0px, -31px));
	    }
	}
    }
    .section-heading{
	margin-bottom: 5rem;
    }
    .advantage{
	display: flex;
	align-items: center;
	p{
	    margin: 0;
	}
	.img{
	    flex: 0 0 20%;
	    max-width: 20%;
	    padding-right: 2rem;
	}
	.sprite{
	    display: inline-block;
	    max-width: rem(120px);
	    width: 100%;
	    height: auto;
	}
    }
    .next-slide{
	bottom: 9%;
    }
}
#outstaffing-2{
    .row{
	justify-content: normal;
	align-items: flex-start
    }
    .section-heading{
	margin-bottom: 3rem;
    }
    @media (min-width:992px){
	.row{
	    padding-left: 6%;
	}
    }
    .strategy{
	display: flex;
	margin-bottom: .5rem;
	.num{
	    flex: 0 0 13%;
	    padding-right: 1rem;
	    p{
		color: $red;
		font-size: rem(64px);
		font-family: $font-secondary;
		font-weight: 700;
	    }
	}
	h3{
	    text-transform: none;
	}
    }
}
#outstaffing-3{
    .section-heading{
	max-width: rem(912px);
    }
    .desc{
	max-width: 1100px;
	font-size: rem(25px);
	line-height: 1.6;
	color: #949599;
    }
}

#software-1{
    @media (max-width:1439px){
	.container{
	    max-width: 1280px;
	}
    }
    .logo{
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
	position: relative;
	&:after{
	    content: '';
	    height: 2px;
	    width: 80%;
	    background: linear-gradient(to right, #FFFFFF,rgba(#FFFFFF, .1));
	    position: absolute;
	    bottom: 0;
	    left: 0;
	}
	@media (max-width:767px){
	    margin-top: 2rem;
	}
    }
    .content{
	color: #DEDFE0;
	font-size: rem(20px);
    }
    @media (min-width:768px){
	.row{
	    .col-left{
		flex: 0 0 60%;
		max-width: 60%;
	    }
	    .col-right{
		flex: 0 0 40%;
		max-width: 40%;
	    }
	}
    }
    .embed-video-wrp{
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
	//margin-bottom: 5rem;
	border: 25px solid #0C0404;
	box-sizing: border-box;
	box-shadow: 0px 10px 60px rgba(12, 4, 4, 0.3);
	border-radius: 20px;
	&:before{
	    display: block;
	    content: "";
	    padding-top: 56.25%;
	}
    }
    video {
	width: 100%;
	max-height: 100%;
	box-sizing: border-box;
    }
    .player-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index:999;
    }
}
#design-1{
    .section-heading{
	//max-width: rem(700px);
    }
    .videos-wrp{
	//max-width: 1180px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -4px;
	.animationen-video{
	    opacity: 0;
	    padding: 4px;
	    flex: 0 0 20%;
	    max-width: 20%;
	    @media (max-width:767px){
		flex: 0 0 50%;
		max-width: 50%;
	    }
	}
	@media(max-width:767px){
	    margin: 0 -4px;
	    .animationen-video{
		padding: 2px;
	    }
	}
    }
    .video-wrp {
	position: relative;
	padding-bottom: 100%;
	height: 0;
	width: 100%;
	margin: 0 auto;
	&:before{
	    content: '';
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    background-color: rgba(0, 0, 0, 0.6);
	    z-index: 10;
	}
	&:hover{
	    cursor: pointer;
	}
	video {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
	.progress{
	    display: none;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 20;
	    .line{
		width: 0;
		height: 4px;
		background-color: #fff;
		line-height: 4px;
		transition: width 230ms linear;
	    }
	}
    }
    .hover{
	.progress{
	    display: block;
	}
	&:before{
	    content: '';
	    background-color: transparent;
	    transition: background-color 1000ms linear;
	}
    }
}
.design{
    @media (min-width:992px){
	.section-heading{
	    font-size: rem(60px);
	}
    }
    .desc{
	color: #949599;
	max-width: rem(1000px);
    }
    .images-wrp{
	display: flex;
	margin: 0 -4px;
	.img-wrp{
	    opacity: 0;
	    padding: 4px;
	    a{
		position: relative;
		display: block;
		&:before{
		    content: '';
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    background-color: rgba(0, 0, 0, 0.4);
		    z-index: 10;
		}
		&:hover:before{
		    background-color: transparent;
		    transition: background-color 500ms linear;
		}

	    }
	}
	img{
	    max-height: 350px;
	    width: auto;
	    @media(max-width:1439px){
		max-height: 195px;
	    }
	}
	@media(max-width:767px){
	    margin: 0 -2px;
	    .img-wrp{
		padding: 1px;
	    }
	}
    }
    .offset{
	//transform: translateX(15%);
	position: relative;
	padding-left: 10%;
	margin-top: 3rem;
	.left-title{
	    position: absolute;
	    left: 0;
	    color: $gray;
	    transform: rotate(-90deg) translate(rem(-44px, -44px));
	    h2{
		opacity: 0;
	    }
	}
    }
}
#home-2,
#home-3,
#design-2,
#design-3{
    .circles{
	opacity: 0;
    }
}
#uber-uns-1{
    .container{
	max-width: 1150px;
    }
    .content{
	@media(min-width:768px){
	    display: flex;
	    flex-wrap: wrap;
	    .img{
		flex: 0 0 35%;
	    }
	    .text{
		flex: 0 0 65%;
	    }
	}
	.img{
	    text-align: center;
	    padding-right: 5%;
	    .avatar{
		border-radius: 50%;
		overflow: hidden;
		max-width: 375px;
		margin: 0 auto 1rem;
	    }
	    h3{
		margin-bottom: .3rem;
	    }
	    p{
		font-size: .9rem;
	    }
	}
    }
}
#contact{
    .container{
	max-width: 1460px;
	@media (max-width:1439px) {
	    max-width: 1100px;
	}
    }

}
/*Footer*/
.site-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width:767px) {
	position: absolute;
    }
    > *{
	padding: 2rem;
    }
    .nav{
	li+li{
	    margin-left: 1.5rem;
	}
	.sprite{
	    display: inline-block;
	    width: 16px;
	    height: 16px;
	    &:hover{
		transition: color .2s ease-in-out;
		transform: scale(1.1);
	    }
	}
    }
}