body::-webkit-scrollbar {
    width: .5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1430px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    align-items: center;
}
.row [class*="col-"]{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width:992px){
    .col-1-2 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
    }
}
.mb-1{
    margin-bottom: 1rem;
}
.site-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .nav{
	margin: 0;
	li+li{
	    margin-left: 1.5rem;
	}
    }
    .nav-item{
	font-family: $font-secondary;
	font-weight: bold;
	font-style: normal;
	font-size: 16px;
	letter-spacing: 1.2px;
	color: $black;
	text-transform: uppercase;
    }
    &.light .nav-item{
	color: #fff;
    }
    .nav-item:hover,
	.active .nav-item{
	color: $gray;
    }
    .logo-white{
	display: inline-block;
	width: 144px;
	height: 18px;
    }
}


/*Sections*/
.scroll-section{
    display: flex;
    align-items: center;
    padding: rem(100px 0);
    overflow: hidden;
}
.next-slide{
    position: absolute;
    z-index: 1;
    width: auto;
    bottom: 15%;
    left: 15%;
    color: #fff;
    cursor: pointer;
    transform: rotate(-90deg) translate(5px,-8px);
    .text{
	font-size: rem(16px);
	color: #B5B5B5;
	padding-left: rem(70px);
	position: relative;
	&:before{
	    position: absolute;
	    left: 0;
	    top: 50%;
	    content: '';
	    height: 1px;
	    width: rem(60px);
	    display: block;
	    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, #fff 100%);
	}
    }
}
.bg-red{
    color: #fff !important;
    background: linear-gradient(180deg, #0C0404 0%, #210D0D 100%);
}
.section-heading{
    &.lg{
	font-size: rem(130px);
    }
    &.md{
	font-size: rem(96px);
    }
}
.home{
    .section-heading{
	position: relative;
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
	&:after{
	    position: absolute;
	    left: 5%;
	    bottom: 0;
	    content: '';
	    height: 2px;
	    width: rem(260px);
	    display: block;
	    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0.1) 100%);
	}
	&.lg:after{
	    left: 10%;
	    width: rem(400px);
	}
    }
}
#home-1{
    .description{
	padding-left: 10%;
	font-size: rem(20px);
	font-weight: 300;
	max-width: rem(460px);
    }
    h2{
	font-size: rem(60px);
	margin-bottom: 0;
    }
    p{
	margin-bottom: 0;
	a{
	    font-family: $font-secondary;
	    font-weight: 700;
	    color: #fff;
	    font-size: rem(26px);
	}
    }
}
#home-3{
    .container{
	max-width: 1000px;
    }
}
.projects{
    margin-top: 2.5rem;
    ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin: rem(0 -4px);
	li{
	    padding: rem(4px);
	}
    }
}
.testimonials{
    padding-left: 5%;
    max-width: rem(855px);
    .quote{
	font-weight: 300;
	font-size: rem(32px);
	margin-bottom: 2rem;
    }
    .author{
	font-family: $font-secondary;
	font-weight: 700;
	font-size: rem(20px);
    }
}
/*Footer*/
.site-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > *{
	padding: 2rem;
    }
    .nav{
	li+li{
	    margin-left: 1.5rem;
	}
	.sprite{
	    display: inline-block;
	    width: 16px;
	    height: 16px;
	    &:hover{
		transition: color .2s ease-in-out;
		transform: scale(1.1);
	    }
	}
    }
}