*,
*::before,
*::after {
    box-sizing: border-box; // 1
}

html {
    font-family: sans-serif; // 2
    line-height: 1.15; // 3
    -webkit-text-size-adjust: 100%; // 4
    -webkit-tap-highlight-color: rgba($black, 0); // 5
    font-size: 18px;
    @media(max-width:1600px) and (min-width:1280px){
	font-size: 14px;
    }
    @media(max-width:1279px) and (min-width:992px){
	font-size: 14px;
    }
    @media(max-width:991px) and (min-width:768px){
	font-size: 12px;
    }
    @media(max-width:767px) {
	font-size: 13px;
    }
}

// Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers)
// TODO: remove in v5
// stylelint-disable-next-line selector-list-comma-newline-after
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

// Body
//
// 1. Remove the margin in all browsers.
// 2. As a best practice, apply a default `background-color`.
// 3. Set an explicit initial text-align value so that we can later use
//    the `inherit` value on things like `<th>` elements.
body {
    margin: 0; // 1
    font-family: $font-base;
    font-size: 1rem;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $body-color;
    text-align: left; // 3
    background-color: $body-bg; // 2
    position: relative;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-secondary;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 0;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
}
a {
    color: $body-color;
    text-decoration: none;
    background-color: transparent; // Remove the gray background on active links in IE 10.

    &:hover {
	color: $link-hover-color;
	text-decoration: none;
    }
}
a, .btn{
    &:focus {
	outline: none;
    }
}
.nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    li + li{
	margin-left: .5rem;
    }
    a{
	text-decoration: none;
    }
}


//
// Figures
//

figure {
    // Apply a consistent margin strategy (matches our type styles).
    margin: 0 0 1rem;
}


//
// Images and content
//

img {
    vertical-align: middle;
    border-style: none; // Remove the border on images inside links in IE 10-.
}

svg {
    // Workaround for the SVG overflow bug in IE10/11 is still required.
    // See https://github.com/twbs/bootstrap/issues/26878
    overflow: hidden;
    vertical-align: middle;
}