// Colors
$black: #0C0404;
$dark-red: #210D0D;
$dark-gray: #2E2E2E;
$gray: #B5B5B5;
$light-gray: #DEDEDE;

//Fonts
$font-base: 'Roboto', sans-serif;
$font-secondary:  'DIN Pro Cond', sans-serif;

$font-weight-base: 400;
$line-height-base: 1.3;

//Body
$body-bg: #fff;
$body-color: $black;


$link-hover-color: $dark-gray;