{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html lang="de">
    <head>
	<meta charset="utf-8">
	<title>{% block title %}{{ title }}{% endblock %}</title>
	<link rel="stylesheet" href="stylesheets/app.css">
	<link rel="stylesheet" href="stylesheets/jquery.fancybox.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include "shared/app-icons.html" %}
	{% block head %}{% endblock %}
    </head>
    <body>
	{% block content %}{% endblock %}
	{% block javascript %}
	<script
	    src="http://code.jquery.com/jquery-3.3.1.min.js"
	    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
	<script src="javascripts/jquery.scrollify.js"></script>
	<script src="javascripts/owl.carousel.min.js"></script>
	<script src="javascripts/jquery.fancybox.min.js"></script>
	<script src="javascripts/main.js"></script>
	{% endblock %}
    </body>
</html>
