<div class="site-footer">
    <div class="left">
	<ul class="nav">
	    <li><a href="#" class="nav-item">{{ sprite('twitter') }}</a></li>
	    <li><a href="#" class="nav-item">{{ sprite('facebook-f') }}</a></li>
	    <li><a href="#" class="nav-item">{{ sprite('linkedin-in') }}</a></li>
	    <li><a href="#" class="nav-item">{{ sprite('instagram') }}</a></li>
	</ul>
    </div>
    <div class="right">
	<ul class="nav">
	    <li><a href="#" class="nav-item">{{ sprite('skype') }}</a></li>
	    <li><a href="#" class="nav-item">{{ sprite('telegram-plane') }}</a></li>
	    <li><a href="#" class="nav-item">{{ sprite('facebook-messenger') }}</a></li>
	</ul>
    </div>
</div>