<div class="preloader"></div>
<div class="site-header bg-header-white">
    <div class="logo">
	<a href="/">
	    <img class="logo-white" src="images/logo-white.svg" alt="">
	    <img class="logo-black" src="images/logo-black.svg" alt="">
	</a>
    </div>
    <button id="main-menu-btn" class="btn">
	<span class="icon">
	    <i></i>
	    <i></i>
	    <i></i>
	    <i></i>
	</span>
	<span class="btn-text">Menu</span>
    </button>
    <div class="navigation">
	<ul class="nav">
	    <li{% if pagetitle == 'software' %} class="active"{% endif %}><a href="software-produkte.html" class="nav-item">Software produkte</a></li>
	    <li{% if pagetitle == 'entwicklung' %} class="active"{% endif %}><a href="it-entwicklung.html" class="nav-item">IT-Entwicklung</a></li>
	    <li{% if pagetitle == 'design' %} class="active"{% endif %}><a href="design.html" class="nav-item">Grafik und  2d motion-design</a></li>
	    <li{% if pagetitle == 'outstaffing' %} class="active"{% endif %}><a href="outstaffing.html" class="nav-item">Outstaffing</a></li>
	    <li{% if pagetitle == 'about' %} class="active"{% endif %}><a href="uber-uns.html" class="nav-item">Über uns</a></li>
	    <li{% if pagetitle == 'kontakt' %} class="active"{% endif %}><a href="kontakt.html" class="nav-item">Kontakt</a></li>
	</ul>
    </div>
</div>
