<div class="site-header">
    <div class="navigation">
	<ul class="nav">
	    <li><a href="#" class="nav-item">Software produkte</a></li>
	    <li><a href="#" class="nav-item">IT-Entwicklung</a></li>
	    <li><a href="#" class="nav-item">Grafik und  2d motion-design</a></li>
	    <li><a href="#" class="nav-item">Outstaffing</a></li>
	    <li><a href="#" class="nav-item">Über uns</a></li>
	    <li class="active"><a href="#" class="nav-item">Kontakt</a></li>
	</ul>
    </div>
    <div class="logo">
	<a href="/">
	    <span class='sprite logo-white'>
		<svg viewBox="0 0 144 18"><use xlink:href='images/icons.svg#logo-white'></use></svg>
	    </span>
	</a>
    </div>
</div>
